<h1>Knockout.js Examples</h1>
<h2>by <%= link_to "Daniel Doezema", "http://dan.doezema.com" %></h2>
<hr />

<h3>Presentation Slides</h3>
<ul>
  <li><%= link_to "Slides / 2012-02-25", "/files/2012-02-25-slides.pdf"  %>
</ul>

<hr />

<h3>Examples</h3>
<ul>
  <li><%= link_to "#1 - Presenter", "/examples/1"  %></li>
  <li><%= link_to "#2 - Add User", "/examples/2"  %></li>
  <li><%= link_to "#3 - Shopping Cart", "/examples/3"  %></li>
</ul>