<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Home " %> | Knockout Examples | Daniel Doezema</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= root_url %>">Knockout.js Examples</a>
          <div class="container-fluid">
            <ul class="nav">
              <li class="dropdown">
                <a href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                      Examples
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "#1 - Presenter", "/examples/1"  %></li>
                  <li><%= link_to "#2 - Add User", "/examples/2"  %></li>
                  <li><%= link_to "#3 - Shopping Cart", "/examples/3"  %></li>
                </ul>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><%= link_to "Knockoutjs.com", "http://knockoutjs.com"  %></li>
              <li><%= link_to "GitHub Repository", 'https://github.com/veloper/ko-js-examples'  %></li>
              <li><%= link_to "Daniel Doezema", 'http://dan.doezema.com'  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="span8">
            <%= yield %>
          </div>
          <% if content_for?(:view_model) %>
            <div class="span4">
              <div class="well">
                <h3>View Model</h3>
                <hr />
                <ul class="nav nav-list">
                  <%= content_for?(:view_model) ? yield(:view_model) : "" %>
                </ul>
              </div>
            </div><!--/span-->
          <% end %>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
<% if content_for?(:view_model) %>
<ul class="nav nav-tabs">
  <li class="active"><a href="#code_javascript" data-toggle="tab">JavaScript (View Model)</a></li>
  <li><a href="#code_html" data-toggle="tab">HTML (View)</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="code_javascript">
<pre class="prettyprint linenums lang-js">
<%= yield(:init_js).gsub(/<script[^>]+?>/, '').gsub(/<\/script>/, '').lines.collect{|x| x.blank? ? x : x.slice(2,x.length) }.join("").strip %>
</pre>
  </div>
  <div class="tab-pane" id="code_html">
<pre class="prettyprint linenums lang-html">
<%= raw CGI::escapeHTML(yield) %>
</pre>
  </div>
</div>
<% end %>
      </footer>

    </div> <!-- /container -->

    <%= javascript_include_tag "application" %>
    <%= content_for?(:init_js) ? yield(:init_js) : "" %>
  </body>
</html>
